.list {
  padding: calc(16 / 16 * 1rem);
  background-color: #262626;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: calc(30 / 16 * 1rem);
}
.item:not(:first-child) .icon {
  background-color: #686868;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calc(112 / 16 * 1rem);
}
.header {
  display: flex;
  align-items: center;
  gap: calc(9 / 16 * 1rem);
  margin-bottom: calc(17 / 16 * 1rem);
}
.icon {
  position: relative;
  width: calc(16 / 16 * 1rem);
  height: calc(16 / 16 * 1rem);
  border-radius: 4px;
  background-color: white;
  padding: calc(4 / 16 * 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon::after {
  position: absolute;
  content: "";
  top: 16px;
  left: 7px;
  width: 2px;
  height: 100px;
  background-color: #1f1f1f;
}
.icon span {
  width: calc(8 / 16 * 1rem);
  height: calc(8 / 16 * 1rem);
  border-radius: 2px;
  background-color: #141414;
}
.data {
  font-weight: 700;
  font-size: calc(12 / 16 * 1rem);
}
.item:not(:first-child) .data {
  color: #686868;
}
.procent {
  font-size: calc(14 / 16 * 1rem);
  margin-bottom: calc(8 / 16 * 1rem);
  padding-left: calc(25 / 16 * 1rem);
}
.time {
  font-size: calc(10 / 16 * 1rem);
  color: #686868;
  padding-left: calc(25 / 16 * 1rem);
}
.pages {
  font-size: calc(12 / 16 * 1rem);
  color: #686868;
  margin-bottom: calc(16 / 16 * 1rem);
}
.diargama {
  display: flex;
  align-items: start;
  gap: calc(6 / 16 * 1rem);
  font-size: calc(10 / 16 * 1rem);
}
.content {
  width: calc(43 / 16 * 1rem);
}
.content img {
  margin-bottom: calc(7 / 16 * 1rem);
}
.content p {
  font-size: calc(10 / 16 * 1rem);
  color: #686868;
  text-align: center;
}
.trash {
  width: 14px;
  height: 14px;
}
@media (min-width: 768px) {
  .icon {
    width: calc(20 / 16 * 1rem);
    height: calc(20 / 16 * 1rem);
  }
  .icon span {
    width: calc(12 / 16 * 1rem);
    height: calc(12 / 16 * 1rem);
  }
  .icon::after {
    top: 20px;
    left: 9px;
    height: 100px;
  }
  .data {
    font-size: calc(16 / 16 * 1rem);
  }
  .procent {
    font-size: calc(20 / 16 * 1rem);
  }
  .time {
    font-size: calc(12 / 16 * 1rem);
  }
  .pages {
    font-size: calc(14 / 16 * 1rem);
    margin-bottom: calc(18 / 16 * 1rem);
  }
  .diargama {
    font-size: calc(12 / 16 * 1rem);
  }
  .content {
    width: calc(56 / 16 * 1rem);
  }
  .content img {
    width: 60px;
  }
}

@media (min-width: 1280px) {
  .list {
    padding: calc(20 / 16 * 1rem);
  }
  .header {
    margin-bottom: calc(29 / 16 * 1rem);
  }
  .right {
    margin-left: calc(-20 / 16 * 1rem);
  }
}
