@import url("./assets/styles/reset.css");

:root {
  --black-color: rgba(20, 20, 20, 1);
  --black-color-31: rgba(31, 31, 31, 1);
  --black-color-38: rgba(38, 38, 38, 1);
  --black-color-104: rgba(104, 104, 104, 1);
  --black-color-227: rgba(227, 227, 227, 0.3);
  --white-color: #f9f9f9;
  --blue-color: #4f92f7;
  --green-color: #30b94d;
}
