.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.btn {
  display: block;
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 100;
  border: 1px solid red;
  border-radius: 200px;
  color: var(--white-color);
  padding: 0.625rem;
  background-color: red;
}
@media (min-width: 768px) {
  .btn {
    font-size: 1.25rem;
  }
  .container {
    width: 50%;
  }
}
